@page
@model BFBlog.Areas.Admin.Pages.Usuarios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario.Nome" class="control-label"></label>
                <input asp-for="Usuario.Nome" class="form-control" />
                <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.FotoUrl" class="control-label"></label>
                <input asp-for="Usuario.FotoUrl" class="form-control" />
                <span asp-validation-for="Usuario.FotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.UserName" class="control-label"></label>
                <input asp-for="Usuario.UserName" class="form-control" />
                <span asp-validation-for="Usuario.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.NormalizedUserName" class="control-label"></label>
                <input asp-for="Usuario.NormalizedUserName" class="form-control" />
                <span asp-validation-for="Usuario.NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Email" class="control-label"></label>
                <input asp-for="Usuario.Email" class="form-control" />
                <span asp-validation-for="Usuario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.NormalizedEmail" class="control-label"></label>
                <input asp-for="Usuario.NormalizedEmail" class="form-control" />
                <span asp-validation-for="Usuario.NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Usuario.EmailConfirmed" /> @Html.DisplayNameFor(model => model.Usuario.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.PasswordHash" class="control-label"></label>
                <input asp-for="Usuario.PasswordHash" class="form-control" />
                <span asp-validation-for="Usuario.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.SecurityStamp" class="control-label"></label>
                <input asp-for="Usuario.SecurityStamp" class="form-control" />
                <span asp-validation-for="Usuario.SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.ConcurrencyStamp" class="control-label"></label>
                <input asp-for="Usuario.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="Usuario.ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.PhoneNumber" class="control-label"></label>
                <input asp-for="Usuario.PhoneNumber" class="form-control" />
                <span asp-validation-for="Usuario.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Usuario.PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.Usuario.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Usuario.TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.Usuario.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.LockoutEnd" class="control-label"></label>
                <input asp-for="Usuario.LockoutEnd" class="form-control" />
                <span asp-validation-for="Usuario.LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Usuario.LockoutEnabled" /> @Html.DisplayNameFor(model => model.Usuario.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.AccessFailedCount" class="control-label"></label>
                <input asp-for="Usuario.AccessFailedCount" class="form-control" />
                <span asp-validation-for="Usuario.AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
