@page
@model BFBlog.Areas.Admin.Pages.Posts.EditModel

@{
    ViewData["Title"] = "Posts";
}
@section DivAcao{
    <a asp-area="Admin" class="btn btn-outline-secondary" asp-page="/POsts/Index"><i class="fa fa-arrow-left"></i> Voltar</a>
}

<hr />
<form enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Post.Titulo" class="control-label"></label>
        <input asp-for="Post.Titulo" class="form-control" />
        <span asp-validation-for="Post.Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Post.Resumo" class="control-label"></label>
        <textarea asp-for="Post.Resumo" class="form-control"></textarea>
        <span asp-validation-for="Post.Resumo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Post.Texto" class="control-label"></label>
        <textarea asp-for="Post.Texto" class="form-control complex"></textarea>
        <span asp-validation-for="Post.Texto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Post.ImagemCapaUrl" class="control-label"></label>
        <input asp-for="Post.ImagemCapa" class="form-control" />
        <span asp-validation-for="Post.ImagemCapaUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Post.DataPublicacao" class="control-label"></label>
        <input asp-for="Post.DataPublicacao" class="form-control" />
        <span asp-validation-for="Post.DataPublicacao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Post.CategoriaId" class="control-label"></label>
        <select asp-for="Post.CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
    </div>
    <div class="form-group">
        <label asp-for="Post.Tags" class="control-label"></label>
        <textarea asp-for="Post.Tags" class="form-control"></textarea>
        <span asp-validation-for="Post.Tags" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Post.UsuarioId" type="hidden" />
        <input asp-for="Post.Id" type="hidden" />
        <input asp-for="Post.ImagemCapaUrl" type="hidden" />
        <input asp-for="Post.SlugUrl" type="hidden" />
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
