
<div class="mb-3 bg-white p-3 border">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <h1>Meus Pontos</h1>
        </div>
        @if (ExibirBotaoVoltar)
        {
            <button class="btn btn-outline-dark" onclick="history.back(-1)">
                Voltar
            </button>
        }
    </div>
    <h4 class="text-primary">
        <span class="pb-3 d-block">
            <i class=""></i> 260 pontos
        </span>
        <span class="d-block">
            3 troféus
        </span>
    </h4>
</div>

@code {
    [Parameter]
    public bool ExibirBotaoVoltar { get; set; } = false;

}