
<div class="mb-5">
    <h1>Minhas Vacinas</h1>

    <div class="row">
        <div class="col-4">
            <div class="box p-3 bg-secondary d-flex align-items-center text-white">
                <h3>Covid-19</h3>
            </div>
        </div>
        <div class="col-4">
            <div class="box p-3 bg-info d-flex align-items-center text-white">
                <h3>Febre Amarela</h3>
            </div>
        </div>
        <div class="col-4">
            <div class="box p-3 bg-warning d-flex align-items-center text-white">
                <h3>Gripe</h3>
            </div>
        </div>
    </div>
</div>

@code {

}