
<div class="mb-3 border bg-white p-3">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <h1>Minhas Vacinas</h1>
        </div>
        @if (ExibirBotaoVoltar)
        {
                <button class="btn btn-outline-dark" onclick="history.back(-1)">
                    Voltar
                </button>
        }
    </div>
    <div class="row">
        <div class="col-6 col-sm-4 mb-3 mb-sm-0">
            <div class="box p-3 bg-secondary d-flex align-items-center text-white">
                <h3>Covid-19</h3>
            </div>
        </div>
        <div class="col-6 col-sm-4 mb-3 mb-sm-0">
            <div class="box p-3 bg-info d-flex align-items-center text-white">
                <h3>Febre Amarela</h3>
            </div>
        </div>
        <div class="col-6 col-sm-4 mb-3 mb-sm-0">
            <div class="box p-3 bg-warning d-flex align-items-center text-white">
                <h3>Gripe</h3>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public bool ExibirBotaoVoltar { get; set; } = false;
}