@page "/Vacinas"
@inject IHttpClientFactory ClientFactory
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<MinhasVacinas ExibirBotaoVoltar="true" />
<div class="mb-3 border bg-white p-3">
    <div class="justify-content-between mb-3">
        <h1>Vacinas Oferecidas</h1>
        @if (VacinasList != null)
        {
            foreach (var vacina in VacinasList)
            {
                <VacinaListItem Vacina="@vacina" />
            }
        }
    </div>
</div>
@code {

    private IEnumerable<Vacina>? VacinasList { get; set; }

    protected void Collapse(int i)
    {

    }

    protected override async Task OnInitializedAsync()
    {
        HttpClient Http = ClientFactory.CreateClient("private");

        VacinasList = await Http.GetFromJsonAsync<IEnumerable<Vacina>>("Vacinas/ObterLista");
    }
}