@model IEnumerable<Data.Entities.Post>
<div class="row d-flex post-list">
    @foreach (var post in Model)
    {
        <div class="col-md-4 d-flex mb-5">
            <div class="py-5">
                <a href="/post/@post.SlugUrl">
                    <img src="/files/@post.ImagemCapaUrl" class="w-100 d-flex" />
                </a>
                <a href="/post/@post.SlugUrl">
                    <h3>@post.Titulo</h3>
                </a>
                <a asp-page="/Categoria" asp-route-id="@post.CategoriaId">
                    <span class="badge bg-info">@post.Categoria?.Nome</span>
                </a>
                <div class="text-justify lead">
                    <a href="/post/@post.SlugUrl">
                        @post.Resumo
                    </a>
                </div>
            </div>
        </div>
    }
</div>