@page
@model BFBlog.Areas.Admin.Pages.Categorias.CreateModel

@{
    ViewData["Title"] = "Categorias";
    ViewData["Subtitle"] = "Cadastrar";
}

@section DivAcao{
    <a asp-area="Admin" class="btn btn-outline-secondary" asp-page="/Categorias/Index"><i class="fa fa-arrow-left"></i> Voltar</a>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categoria.Nome" class="control-label"></label>
                <input asp-for="Categoria.Nome" class="form-control" />
                <span asp-validation-for="Categoria.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
