<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ad249e6a-cd1c-411b-a417-62d0dc903734/resourceGroups/DefaultResourceGroup-EUS2/providers/Microsoft.Web/sites/imunometa</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://imunometa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>adf9475d-c451-40b4-8cc1-75d743b15ed3</ProjectGuid>
    <PublishUrl>https://imunometa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$imunometa</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>